*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* BODY */
    body{
        font-family: 'Fredoka', sans-serif;
    }

    #body-container{
        width: 65%;
        margin: 0 auto;
    }
/* FINE BODY */

/* HEADER */
    header{
        text-align: center;
    }

    #header-title{
        color: #E53170;

        font-size: 40px;

        margin-top: 30px;
        margin-bottom: 50px;
    }

    #header-text{
        font-size: 20px;

        margin-bottom: 50px;
    }
/* FINE HEADER */

/* MAIN */
    /* UTILITIES */
        .main-container{
            max-width: 1170px;
            margin: 0 auto;
        }

        .main-row{
            width: 100%;
        }

        .main-row::after{
            content: "";
            display: table;
            clear: both;
        }

        .main-col{
            width: calc(100% / 3 - 30px);
            margin: 0 15px;
            float: left;
            background-color: #0F0E17;
        }
    /* FINE UTILITIES */
/* FINE MAIN */
