*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* BODY */
    body{
        font-family: 'Fredoka', sans-serif;
    }

    #body-container{
        width: 65%;
        margin: 0 auto;
    }
/* FINE BODY */

/* HEADER */
    header{
        text-align: center;
    }

    #header-title{
        color: #E53170;

        font-size: 40px;

        margin-top: 30px;
        margin-bottom: 50px;
    }

    #header-text{
        font-size: 20px;

        margin-bottom: 30px;
    }
/* FINE HEADER */

/* MAIN */
    /* UTILITIES */
        .main-container{
            max-width: 1170px;
            margin: 0 auto;
        }

        .main-row{
            width: 100%;
        }

        .main-row::after{
            content: "";
            display: table;
            clear: both;
        }

        .main-col{
            width: calc(100% / 3 - 30px);
            height: 6rem;

            margin: 25px 15px;
            float: left;

            box-shadow: 1px 1px 5px black;
            background-color: #0F0E17;
        }
    /* FINE UTILITIES */
    .main-content{
        color: white;
        width: 100%;
        height: 100%;
    }

    .main-content::after{
        content: "";
        display: table;
        clear: both;
    }

    .content-img, .content-text{
        height: 100%;
        float: left;
    }

    .content-img > img{
        height: 100%;
    }

    .content-text{
        margin-top: 5px;
    }

    .content-text > *{
        margin: 5px 15px;
    }

    .content-text > .content-email{
        color: #71bde0;
    }
/* FINE MAIN */
