*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* BODY */
    body{
        font-family: 'Fredoka', sans-serif;
    }

    #body-container{
        width: 65%;
        margin: 0 auto;
    }
/* FINE BODY */

/* HEADER */
    header{
        text-align: center;
    }

    #header-title{
        color: #E53170;

        font-size: 40px;

        margin-top: 30px;
        margin-bottom: 50px;
    }

    #header-text{
        font-size: 20px;

        margin-bottom: 50px;
    }
/* FINE HEADER */